@page "/inventory-dashboard"
@using InventoryRecord
@using PurchaseBlazorApp2.Client.Service
@using Radzen.Blazor
@inject NavigationManager NavigationManager
@inject MyHttpService Http

<h3>Inventory Dashboard</h3>

<div class="tabs mb-3">
    <button class="tab-button @(activeTab == "Product" ? "active" : "")"
            @onclick="@(() => activeTab = "Product")">
        Product
    </button>

    <button class="tab-button @(activeTab == "Supplier" ? "active" : "")"
            @onclick="@(() => activeTab = "Supplier")">
        Supplier
    </button>

    <button class="tab-button @(activeTab == "Customer" ? "active" : "")"
            @onclick="@(() => activeTab = "Customer")">
        Customer
    </button>

</div>

@if (IsLoading)
{
    <div class="d-flex justify-content-center align-items-center p-5">
        <div class="spinner-border text-primary"></div>
        <span class="ms-2">Loading Records...</span>
    </div>
}
else
{
    @if (activeTab == "Product")
    {
        <RadzenDataGrid Data="@Product"
                        TItem="InventoryItemData"
                        AllowSorting="true"
                        Class="shadow-sm border rounded p-3"
                        Style="min-width:800px;">
            <Columns>
                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="ID"
                                      Title="Product ID"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="Name"
                                      Title="Product Name"
                                      Width="180px" />


                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="Quantity"
                                      Title="Quantity"
                                      Width="150px" />


                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="SKUCode"
                                      Title="SKUCode"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="ProductName"
                                      Title="ProductName"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="Flavour"
                                      Title="Flavour"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="PackSize"
                                      Title="PackSize"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="CostPerUnit"
                                      Title="CostPerUnit"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="B2BPrice"
                                      Title="B2BPrice"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="B2CPrice"
                                      Title="B2CPrice"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="CartonConfiguration"
                                      Title="CartonConfiguration"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData"
                                      Property="Status"
                                      Title="Status"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryItemData" Title="Actions" Width="120px">
                    <Template Context="data">
                        <div style="display:flex; gap:6px;">
                            <RadzenButton Text="View"
                                          Icon="visibility"
                                          Click="@(() => OnViewProductClicked(data))"
                                          Style="min-width:70px;" />
                        </div>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }

    @if (activeTab == "Supplier")
    {
        <RadzenDataGrid Data="@Supplier"
                        TItem="InventorySupplierData"
                        AllowSorting="true"
                        Class="shadow-sm border rounded p-3"
                        Style="min-width:1000px;">
            <Columns>
                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="ID"
                                      Title="Supplier ID"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="Name"
                                      Title="Name"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="Address"
                                      Title="Address"
                                      Width="300px" />

                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="Contact"
                                      Title="Contact"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="Quantity"
                                      Title="Quantity"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="SupplierName"
                                      Title="SupplierName"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="ContactDetails"
                                      Title="ContactDetails"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventorySupplierData"
                                      Property="PaymentTerms"
                                      Title="PaymentTerms"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventorySupplierData" Title="Actions" Width="120px">
                    <Template Context="data">
                        <div style="display:flex; gap:6px;">
                            <RadzenButton Text="View"
                                          Icon="visibility"
                                          Click="@(() => OnViewProductClicked(data))"
                                          Style="min-width:70px;" />
                        </div>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }

    @if (activeTab == "Customer")
    {
        <RadzenDataGrid Data="@Customer"
                        TItem="InventoryCustomerData"
                        AllowSorting="true"
                        Class="shadow-sm border rounded p-3"
                        Style="min-width:1000px;">
            <Columns>
                <RadzenDataGridColumn TItem="InventoryCustomerData"
                                      Property="ID"
                                      Title="Customer ID"
                                      Width="150px" />

                <RadzenDataGridColumn TItem="InventoryCustomerData"
                                      Property="CompanyName"
                                      Title="Company Name"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventoryCustomerData"
                                      Property="ContactPerson"
                                      Title="Contact Person"
                                      Width="300px" />

                <RadzenDataGridColumn TItem="InventoryCustomerData"
                                      Property="Phone"
                                      Title="Phone"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventoryCustomerData"
                                      Property="Address"
                                      Title="Address"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventoryCustomerData"
                                      Property="PaymentTerms"
                                      Title="Payment Terms"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventoryCustomerData"
                                      Property="CreditLimit"
                                      Title="Credit Limit"
                                      Width="200px" />

                <RadzenDataGridColumn TItem="InventoryCustomerData" Title="Actions" Width="120px">
                    <Template Context="data">
                        <div style="display:flex; gap:6px;">
                            <RadzenButton Text="View"
                                          Icon="visibility"
                                          Click="@(() => OnViewProductClicked(data))"
                                          Style="min-width:70px;" />
                        </div>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
}

<style>
    .tabs {
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid #ccc;
    }

    .tab-button {
        background: none;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-weight: bold;
    }

    .tab-button.active {
        border-bottom: 2px solid blue;
        color: blue;
     }
</style>

@code {
    private string activeTab = "Product";
    private bool IsLoading = true;

    private List<InventoryItemData> Product = new();
    private List<InventorySupplierData> Supplier = new();
    private List<InventoryCustomerData> Customer = new();

    protected override async Task OnInitializedAsync()
    {
        await ReloadData();
    }

    private async Task ReloadData()
    {
        IsLoading = true;

        try
        {
            Product = await Http.GetFromJsonAsync<List<InventoryItemData>>("api/inventory/get-products") ?? new();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to load products: {ex.Message}");
            Product = new();
        }

        try
        {
            Supplier = await Http.GetFromJsonAsync<List<InventorySupplierData>>("api/inventory/get-suppliers") ?? new();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to load suppliers: {ex.Message}");
            Supplier = new();
        }

        try
        {
            Customer = await Http.GetFromJsonAsync<List<InventoryCustomerData>>("api/inventory/get-customers") ?? new();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to load customers: {ex.Message}");
            Customer = new();
        }

        foreach (var p in Product)
        {
            p.Quantity = await Http.GetFromJsonAsync<int>($"api/inventory/get-quantity?productId={p.ID}");
        }

        foreach (var s in Supplier)
        {
           s.Quantity = await Http.GetFromJsonAsync<int>($"api/inventory/get-quantity?supplierId={s.ID}");
        }

        IsLoading = false;
    }
    private void OnViewProductClicked(InventoryItemData product)
    {
        NavigationManager.NavigateTo($"/add-product/{product.ID}");
    }

    private void OnViewProductClicked(InventorySupplierData product)
    {
        NavigationManager.NavigateTo($"/add-supplier/{product.ID}");
    }

    private void OnViewProductClicked(InventoryCustomerData product)
    {
        NavigationManager.NavigateTo($"/add-customer/{product.ID}");
    }
}